<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="author" content="Xu Da">
<title> Questionaire </title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="/main.css">
</head>
<body>

<div class = "head">
<h1><b> Welcome to the Questionaire </b></h1>
</div>

<div class = "block">
	<div class = "head">
		<h2>Delete success!</h2>
	</div>
</div>

<div class = "block foot">
    <div class = "head">
        <p><a href = "/django/polls/query/"> Return </a></p>
    </div>
</div>

</body>
</html>

